services:
  n8n:
    image: n8nio/n8n
    restart: always
    ports:
      - "5678:5678"
    volumes:
      - ./n8n_data:/home/node/.n8n
    environment:
      - GENERIC_TIMEZONE=Asia/Jakarta
      - WEBHOOK_URL=https://foppishly-jasperated-corina.ngrok-free.dev/

